/* Small devices  */
@media screen and (max-width: 576px) {
    /* header section */
    .header{
        
        background-color: black;
    }
    .brand{
        margin-left: 30px;
        padding-left: 1rem;git
    }
    .nav-items{
        display: none;
    }
    #hamburg{
        background-color: ;
      }
    .banner-content,
    .run-section{
        flex-direction: column;
    }
    .img-badge2{
        width: 8.8rem;
        height: 5rem;
        border-radius: 1rem;
        border: 1px solid rebeccapurple;
        background: rgba(48, 48, 48, 0.54);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 180%;
    }
    .img-badge{
        display: none;
    }
    .habit{
        text-align: center;
        padding: 6.25rem;
        width: 30rem;
        height: 7.5rem;
        margin: 0 auto;
    }
    .banner-title{
        font-size: 2.3rem;
        font-weight: 600;
        padding-left: 3rem;
        line-height: auto;
    }
    .banner-description ,
    .banner-btns
    {
        margin-top: 50px;
        padding-left: 2rem;
    }
    .banner-content-right{
        padding-left: none;
        margin-left: none;
        width: 300px;
    }
    .banner-img{
        width: fit-content;
    }
    /* Main section */
    .main{
        
        background-color: black;
    }
    .habit-section{
        
        margin: 0 auto;
        background-color: black;
    }
    .habit{
        text-align: center;
        padding: 1.25rem;
        
        height: 7.5rem;
        margin: 0 auto;
    }
    .habit-title{
        color: #FFF;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.88rem;
    }
    .trainers,
    .Trainer-pictures
    {
        grid-template-columns: repeat(1,1fr);
    }
    .trainer img{
        width: 70%;
        border-radius: 50%;
        padding-left: 3rem;
        margin-bottom: 1.1rem;
    }
    .description{
        color: rgba(255, 255, 255, 0.50);
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 1.25rem;
    }
    .run-and-extra{
        
        background-color: black;
    }
    .run-section{
        display: flex;
        width: 70%;
        margin: 0 auto;
        justify-content: flex-end;
        gap: 0;
    }
    .div > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid white;
        padding-left: 4rem;
     }
    .div-1 ,button{
        padding-left: 4rem;
    }
    .Meet-section-firstpart{
        display: none;
    }
    .trainner-pic{
        padding-left: 40px;
        padding-top: 40px;
    }
    /* BMI Section */
    .BMI-Section-Container{
        
        flex-direction: column;
        gap: 0rem;
    }
    .footer{
       grid-template-columns: repeat(1,1fr);
    }
    .footer-section{
        width: 57px;
        margin: 0;
    }
    .footer-heading, .footer-description{
        padding-left: 20px;
    }
    .footer-second, .footer-third{
        margin: 0;
        text-align: left;
    }
    .footer-second, .footer-third{
        flex-direction: column;  
        gap: 0px;
        padding: 0px;
    }
        .footer-button{
            color: #FAFAF9;
            font-size: 1.0rem;
            font-weight: 400;
            background-color: transparent; 
            border: none;/
            outline: none
        }
        .footer-first{
            margin-left: 30px;
        }
}